<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BookStoreModel" connectionString="Data Source=DESKTOP-2C8NFEL;Initial Catalog=BookStore;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
    <add name="BookStore.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-2C8NFEL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>